html, body, #map {

  width: 100%;
  height: 100%;

  margin: 0;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 15px;
  line-height: 24px;

  background-color: #363636;

}

#map {
  width: 80%;
  float: left;
}

#sidebar {
  width: 17%;
  padding: 1.5%;
  float: right;
  color: #BDBDBD;

  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

h1, h2 {
  font-weight: 100;
  text-align: center;
  font-family: 'Helvetica Neue';
}

h1 {
  font-size: 110px;

  margin-top: 25px;
  margin-bottom: 45px;

  color: #CFCFCF;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#sidebar ul {
  margin: 0;
  margin-top: 50px;

  padding: 0;
  padding-bottom: 10px;

  list-style-type: none;

  max-height: 75%;
  overflow: hidden;

  position: absolute;
    left: 25px;
    right: 25px;
    bottom: 0;
}

#sidebar li {
  color: #828282;

  padding-top: 10px;
  padding-bottom: 10px;

  border-top: 1px solid #666;
}

#sidebar li .adoption-user {
}

#sidebar li .adoption-oz {
  display: block;
  color: #C9C9C9;
}

.legend {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  height: 150px;
  width: 80px;
  color: black;
}

.legend ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.legend li {
  height: 20px;
}

.legend li div {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-right: 1px;
}

.legend li span {
  position: relative;
  top: -5px;
  color: #454545;
}

.legend li div.adopted-2013 {
  background-color: #99000d;
}

.legend li div.adopted-2015 {
  background-color: #cb181d;
}

.legend li div.adopted-2016 {
  background-color: #ef3b2c;
}

.legend li div.adopted-2017 {
  background-color: #fb6a4a;
}

.legend li div.adopted-2018 {
  background-color: #fc9272;
}

.legend li div.adopted-2019 {
  background-color: #fcbba1;
}

.legend li div.adopted-2020 {
  background-color: #fee0d2;
}

.leaflet-control-attribution {
  display: none;
}

.adopted-2013 {
  fill: #99000d;
}

.adopted-2015 {
  fill: #cb181d;
}

.adopted-2016 {
  fill: #ef3b2c;
}

.adopted-2017 {
  fill: #fb6a4a;
}

.adopted-2018 {
  fill: #fc9272;
}

.adopted-2019 {
  fill: #fcbba1;
}

.adopted-2020 {
  fill: #fee0d2;
}

path {
  stroke: #616161;
  stroke-width: 1px;
  fill: #084594;
  fill: rgba(1, 1, 1, 0);
  fill-opacity: 0.9;

  -webkit-transition: fill 0.5s ease-out;
          transition: fill 0.5s ease-out;
}

.adopted {
  stroke: #FFFAFA;
}