{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
  <title>Install 4K Adopt</title>
  <style type="text/css">
    body {
      background: url(bkg.png) repeat #c5ccd4;
      font-family: Helvetica, arial, sans-serif;
    }
    .congrats {
      font-size: 16pt;
      padding: 6px;
      text-align: center;
    }
    .step {
      background: white;
      border: 1px #ccc solid;
      border-radius: 14px;
      padding: 4px 10px;
      margin: 10px 0;
    }
    .instructions {
      font-size: 13pt;
    }
    .arrow {
      font-size: 15pt;
    }
    table {
      width: 100%;
    }
  </style>
</head>
<body>

<div class="congrats">4K Adopt Installation</div>

<div class="step">
  <table><tr>
    <td class="instructions">Install 4K Adopt</td>
    <td width="47" class="arrow">&rarr;</td>
    <td width="57" class="imagelink">
      <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/u/45085345/4kadopt_minifest.plist">
        <img src="{% static "img/4kadopt_blue.jpg" %}" height="57" width="57" />
      </a>
    </td>
  </tr></table>
</div>

<div class="step">
  <table><tr>
    <td class="instructions">Install 4K Adopt iOS 7.0</td>
    <td width="24" class="arrow">&rarr;</td>
    <td width="57" class="imagelink">
      <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/u/45085345/4kadopt_70_minifest.plist">
        <img src="4kadopt_blue.png" height="57" width="57" />
      </a>
    </td>
  </tr></table>
</div>


</body>
</html>