{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- ADOPT OMEGA ZONES NOAW! -->
    <title>4K Adopt</title>

    <!-- the meta tag that makes stuff responsive! :D -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Load Leaflet CSS from their CDN -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <!-- Loads our styles -->
    <link rel="stylesheet" href="{% static "styles/main.css" %}" />

</head>
<body>

    <div id="map"></div>
    <div id="sidebar">
        <h1 class="countdown">4000</h1>
        <h2>Omega Zones left</h2>

        <ul class="stream"></ul>
    </div>

    <!-- Because without jQuery, where would the world really be? -->
    <script src="{% static "scripts/jquery.js" %}"></script>
    <!-- Loads leaflet, mapping library -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <!-- Loads esri leaflet for leaflet + arcgis integration -->
    <script src="{% static "scripts/esri-leaflet.js" %}"></script>
    <!-- websockets -->
    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>

    <!-- Loads our oz controller to control the omega zones -->
    <script src="{% static "scripts/ozController.js" %}"></script>
    <!-- Loads the js file that will start it all -->
    <script src="{% static "scripts/main.js" %}"></script>

</body>
</html>